    .maincontent {
        top: 350px;
        background: #f2f2f2;
        position: relative;
        /*display: flex */
    }

    /*reserves space for the gallery titles hottest album recent & hottest album this month*/

    .galleryofthemonth {
        text-align: center;
        width: 100%;
    }

    /* EMBEDDED ITEMS */

    .spotifylist {
        text-align: center;
        width: 90%;
    }

    .youtubevideo {
        width: 90%;
    }

    /* album description*/ 

    .albumofthemonthdescription {
        width: 100%;
        
    }
    .text {
        width: 90%;
        margin: 5px;
        margin-left: 5%;
        text-align: left;
        line-height: 200%;
        padding-bottom: 15px;
        color: #2e2e2e2e;
    } 
    .textred {
        color: red;
        font-weight: bold;
    }

    /* temporary album of the month */

    .albumofthemonthbox {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .albumofthemonth img {
        margin: 5px;
        border: 5px solid gray;
    }

    .head1 {
        text-align: center;
        font-family: 'Changa One', cursive;
    }

    
