    .maincontent {
        top: 350px;
        background: #f2f2f2;
        position: relative;
        /*display: flex */
    }

    /* album display */



    .album1 {
        height: 100px;
        width: 100px;
    }

    .album2 {
        height: 100px;
        width: 100px;
    }

    .album {
        margin: 5px;   
        height: 100px;
        width: 30%;
        border: 1px solid white;
        background-color: red;
        display: inline-flex;
    }

    .album p {
        margin: 0px;
        margin-top: 2px;
        padding-left: 5px;
        overflow-y: hidden;
        text-align: left;
    }


    /*reserves space for the gallery titles hottest album recent & hottest album this month*/


    .albumgallery h2 {
        text-align: center;
    }

    .albumgallerytitlejustout {
        width: 100%;
        text-align: center;
        font-family: 'Changa One', cursive;
        
    }

    .albumgalleryofthemonth {
        text-align: center;
        width: 100%;
        
        
    }

    .spotifylist {
        text-align: center;
    }

    /* album description*/ 

    .albumofthemonthdescription {
        width: 100%;
        
    }
    .text {
        width: 90%;
        margin: 5px;
        margin-left: 5%;
        text-align: center;
        line-height: 200%;
        padding-bottom: 15px;
        color: #2e2e2e2e;
    } 
    /* image grid made with flex */


    .albumrow1 {

    flex-direction: column;
    text-align: center;
    }

    .albumrow2 {

    flex-direction: column;
    text-align: center;
    }

    .albumrow3 {

    flex-direction: column;
    text-align: center;
    }

    /* temporary album of the month */

    .albumofthemonthbox {
        display: inline-block;
        width: 100%;
        border: solid 1px black;
    }

    .albumofthemonth img {
        margin: 5px;
        border: 5px solid gray;
    }

    .head1 {
        font-family: 'Changa One', cursive;
        
    }

    
