    /* image grid made with flex */

    .albumgallerytitlejustout {
        width: 100%;
        text-align: center;
        font-family: 'Changa One', cursive;
        }

    .albumgallery h2 {
        text-align: center;
    }   
        
        
    /* album display */
    .albumgallery {
        
    }
    .albumgrid {
        text-align: center;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        
    }

    .albumsize {
        display: inline-flex;
        height: 200px;
        width: 200px;
        
    }

    a {
        display: inline-flex;
    }

    